.projects {
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0; /*  reset */
  }
}
/* ? double check this is right */
.projects.holiday,
.projects.xmas {
  .residential {
    order: 1;
  }

  .commercial {
    order: 2;
  }

  .wedding {
    order: 3;
  }

  > * {
    order: 4;
  }
}

.projects.wedding {
  .wedding {
    order: 1;
  }
}

.projects.wedding {
  * {
    order: 2;
  }
}
