/*------------------------------------*/
/* accessibility */
/*------------------------------------*/

.sr-only {
  display: block; /*  additional but seems really needed */
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  margin: 0;

  * {
    width: 0;
    height: 0;
    display: inline-block;
  }
}

button .sr-only,
button.sr-only {
  display: inline-block;
  padding: 0;
  border: none;
}
