/*------------------*/
//  #Accordian
/*------------------*/

summary {
  outline: none;
  border-radius: 0.25rem;
  position: relative;
}
details[open] summary ~ * {
  animation: sweep var(--moment);
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}
