/*------------------*/
/* BADGES */
/*------------------*/

.badges {
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);
  margin-block-end: var(--vinson);
  align-items: baseline;

  .badge {
    padding: 0.5rem var(--vinson);
    /*  TODO: fix this it should get lighter not darker as it gets higher in the stack */
    background-color: var(--kingly-cloud);
    border: 2px solid whitesmoke;
    border-radius: var(--card-radius);
  }
}
