/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

.button-hero {
  font-size: var(--kilimanjaro);
  line-height: var(--denali);
  text-transform: uppercase;
  /* background-color: var(--honey-500) !important; */
}

/* .button-hero:hover {
  background-color: var(--honey-600) !important;
}

.button-hero:active {
  background-color: var(--honey-700) !important;
} */

/*------------------------------------*/

.review-stars button {
  margin-inline: 0;
}

.review-star {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.review-star.active svg {
  fill: var(--honey-300);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-300);
  }
}

.review-star.hover {
  background-color: var(--honey-100);
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-100);
  }

  svg {
    fill: var(--honey-500);
    @media (prefers-color-scheme: dark) {
      fill: var(--denim-500);
    }
  }
}
