/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

.button-hero {
  font-size: var(--elbrus);
  @media (min-width: 30rem) {
    font-size: var(--kilimanjaro);
  }
  line-height: var(--denali);
  text-transform: uppercase;
  /* background-color: var(--honey-500) !important; */
}

/* .button-hero:hover {
  background-color: var(--honey-600) !important;
}

.button-hero:active {
  background-color: var(--honey-700) !important;
} */

/*------------------------------------*/

.feedback-stars button {
  margin-inline: 0;
}

.feedback-star {
  background-color: var(--brilliance);
  border: 1px solid var(--honey-100);
  box-shadow: none;
  /* padding-block: clamp(0.5rem, 1vw, 1rem); */

  svg {
    min-width: clamp(2rem, 5vw, 5rem);
    max-width: clamp(2rem, 5vw, 5rem);
  }
}

.feedback-star.active svg {
  fill: var(--honey-300);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-300);
  }
}

.feedback-star.hover {
  background-color: var(--honey-100);
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-100);
  }

  svg {
    fill: var(--honey-500);
    @media (prefers-color-scheme: dark) {
      fill: var(--denim-500);
    }
  }
}
