/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

button,
.button {
  background-color: var(--honey-200);
  border: 1px solid var(--honey-300);
  width: max-content;
  padding-block-start: var(--kosciuszko);
  padding-block-end: 0.5rem;
  padding-inline: var(--vinson);
  box-shadow: var(--mesosphere);
  transition: var(--moment);
  margin-inline-start: var(--vinson);
  margin-block-end: var(--kilimanjaro);
  border-radius: var(--border-radius);
  color: var(--honey-600);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
    border-color: var(--denim-600);
    color: var(--denim-200);
  }
}

/* TODO: notes on why these 2 are split out */
button {
  padding-block-start: var(--kosciuszko);
  padding-block-end: 0.5rem;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding-block: var(--kosciuszko);
}

button:hover,
.button:hover,
.button-hover-storybook {
  color: var(--honey-700);
  box-shadow: var(--stratosphere);
  background-color: var(--honey-300);
  border-color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-600);
    border-color: var(--denim-500);
    color: var(--denim-100);
  }
}

button:focus,
.button:focus,
.button-focus-storybook {
  color: var(--honey-800);
  box-shadow: var(--stratosphere);
  background-color: var(--honey-300);
  border-color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-500);
    border-color: var(--denim-400);
    color: var(--denim-100);
  }
}

.button--left-align {
  margin-inline-start: 0;
}

.button-hero {
  place-self: start;
  font-size: var(--elbrus);
  @media (min-width: 30rem) {
    font-size: var(--kilimanjaro);
  }
  line-height: var(--denali);
  text-transform: uppercase;
}

/*------------------------------------*/

.feedback-stars button {
  margin-inline: 0;
}

.feedback-star {
  background-color: var(--brilliance);
  border: 1px solid var(--honey-100);
  box-shadow: none;
  /* padding-block: clamp(0.5rem, 1vw, 1rem); */

  svg {
    min-width: clamp(2rem, 5vw, 5rem);
    max-width: clamp(2rem, 5vw, 5rem);
  }
}

.feedback-star.active svg {
  fill: var(--honey-300);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-300);
  }
}

.feedback-star.hover {
  background-color: var(--honey-100);
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-100);
  }

  svg {
    fill: var(--honey-500);
    @media (prefers-color-scheme: dark) {
      fill: var(--denim-500);
    }
  }
}
