/*------------------*/
/* COLOR */
/*------------------*/

body {
  background: hsl(var(--honey), 100%, 99%); /*  custom */
  background: var(--honey-50);
  color: hsl(var(--denim), 12%, 12%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 5%); /* custom m */
    color: hsl(var(--honey), 100%, 97.5%); /* custom */
    color: var(--honey-100); /* * test  */
  }
}

.backed {
  background-color: hsl(var(--honey), 100%, 97.5%); /* custom */
  background-color: var(--honey-50);
  box-shadow: 0 0 0 100vmax hsl(var(--honey), 100%, 97.5%);
  box-shadow: 0 0 0 100vmax var(--honey-50);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
    box-shadow: 0 0 0 100vmax hsl(var(--denim), 25%, 12%);
  }
}

.bb {
  margin-block: 1lh;
  padding-block: 1lh;
}

/*------------------*/
/* TOPBAR */
/*------------------*/

.top-bar {
  background-color: whitesmoke;

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
  }
}

/*------------------*/
/* HEADER */
/*------------------*/

header {
  background: hsl(var(--honey), 100%, 97.5%); /* custom */
  background: var(--honey-100); /* * test  */

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
  }

  h2 {
    background-color: hsl(var(--honey), 100%, 97.5%); /* custom */
    background-color: var(--honey-50);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
    }
  }

  button:hover svg {
    background-color: var(--honey-600);
  }

  .stripe {
    /* needed if the menu is large */
    background: hsl(var(--honey), 100%, 97.5%);
    background: var(--honey-50);
    box-shadow: 0 0 0 100vmax hsl(var(--honey), 100%, 97.5%);
    box-shadow: 0 0 0 100vmax var(--honey-50);
    clip-path: inset(0 -100vmax);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 12%);
      box-shadow: 0 0 0 100vmax hsl(var(--denim), 25%, 12%);
    }
  } /* ? am I sure this isnt a honey color */
}

.menu__small {
  background-color: whitesmoke; /*  ? am I sure this isnt a honey color */
  opacity: 0.9;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 100%, 12%);
  }
}

/* match the card --- */
/* TESTIMONOIALS */
/*------------------*/

/*  match the card */
.testimonial {
  /* header-color // the card might need to match this */
  background-color: hsl(
    var(--honey),
    100%,
    97.5%
  ); /*  header-color /* the card might need to match this */
  background-color: var(--honey-50);
  border: 2px solid whitesmoke;
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
    border-color: hsl(var(--denim), 25%, 25%);
  }
}

.slider-container {
  display: flex; /*  keeps the margins in */
  background-color: hsl(var(--honey), 100%, 97.5%); /*  custom */
  background-color: var(--honey-50);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
  }
}

.testimonial {
  background-color: var(--brilliance);
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-750);
  }
  svg {
    fill: hsl(var(--honey), 100%, 50%);
    outline: 1px solid var(--honey-50);

    @media (prefers-color-scheme: dark) {
      outline: none;
    }
  }
}
