/* Index
- qualities
- plans
*/

/*------------------*/
/* COLOR */
/*------------------*/

body {
  background: var(--honey-50);
  color: var(--denim-700);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-750);
    color: var(--neutral-100);
  }
}

/*------------------*/
/* TOPBAR */
/*------------------*/

/* *button:focus color match */
.top-bar {
  background-color: var(--honey-300);
  color: var(--neutral-800);
  border-color: var(--honey-400);

  a {
    color: var(--neutral-800);
  }

  a:hover {
    color: var(--neutral-700);
  }

  a:focus {
    color: var(--neutral-600);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-600);

    /* * reset to regular dark link color */
    a {
      color: var(--honey-200);
    }

    a:hover {
      color: var(--honey-300);
    }

    a:focus {
      color: var(--honey-400);
    }
  }
}

/*------------------*/
/* HEADER */
/*------------------*/

header {

  h2 {
    background-color: var(--honey-50);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-700);
    }
  }

  button:hover svg {
    background-color: var(--honey-600);
  }

  .stripe {
    /* needed if the menu is large */
    background: var(--honey-50);
    box-shadow: 0 0 0 100vmax var(--honey-50);
    clip-path: inset(0 -100vmax);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-700);
      box-shadow: 0 0 0 100vmax var(--denim-700);
    }
  }
}

.menu__small {
  background-color: var(--neutral-100);
  opacity: 0.9;

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
  }
}

/*------------------------------------*/
/* #QUALITIES */
/*------------------------------------*/

.qualities {
  section {
    border-block-end: 1px solid var(--honey-400);

    @media (prefers-color-scheme: dark) {
      border-color: var(--denim-400);
    }

    p {
      color: var(--neutral-600);

      @media (prefers-color-scheme: dark) {
        color: var(--neutral-300);
      }
    }
  }

  section:last-child {
    border-block-end: none;
  }
}

/* match the card --- */
/* TESTIMONOIALS */
/*------------------*/

/*  match the card */
.testimonial {
  background-color: var(--honey-100);
  border: 2px solid var(--neutral-100);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
    border-color: var(--denim-600);
  }
}

.testimonial svg {
  fill: var(--honey-400);
}

.slider-container {
  display: flex;
}

/*------------------------------------*/
/* #PLANS */
/*------------------------------------*/

/* img, leaving this on will for sure break things */
.storybook-image {
  background-color: var(--neutral-800);
  border-radius: 0.25rem;
  box-shadow: var(--troposphere);
}

.error {
  color: var(--error);
}