/*------------------*/
/* COLOR */
/*------------------*/

body {
  background: var(--honey-50);
  color: var(--denim-700);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-750);
    color: var(--brilliance);
  }
}

/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

.button--hover {
  color: var(--honey-700);
  box-shadow: var(--stratosphere);
  background-color: var(--honey-300);
  border-color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
    border-color: var(--denim-600);
  }
}

.backed {
  background-color: var(--honey-50);
  box-shadow: 0 0 0 100vmax var(--honey-50);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(denim-700);
    box-shadow: 0 0 0 100vmax var(denim-700);
  }
}

/* TODO Name */
.bb {
  margin-block: var(--elbrus);
  padding-block: var(--elbrus);
}

/*------------------*/
/* TOPBAR */
/*------------------*/

.top-bar {
  background-color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
  }
}

/*------------------*/
/* HEADER */
/*------------------*/

header {
  background: var(--honey-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(denim-700);
  }

  h2 {
    background-color: var(--honey-50);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-700);
    }
  }

  button:hover svg {
    background-color: var(--honey-600);
  }

  .stripe {
    /* needed if the menu is large */
    background: var(--honey-50);
    box-shadow: 0 0 0 100vmax var(--honey-50);
    clip-path: inset(0 -100vmax);

    @media (prefers-color-scheme: dark) {
      background-color: var(denim-700);
      box-shadow: 0 0 0 100vmax var(denim-700);
    }
  }
}

.menu__small {
  background-color: var(--brilliance);
  opacity: 0.9;

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
  }
}

/*------------------------------------*/
/* #QUALITIES */
/*------------------------------------*/

.qualities {
  background: var(--honey-50);
  box-shadow: 0 0 0 100vmax var(--honey-50);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
    box-shadow: 0 0 0 100vmax var(--denim-700);
  }

  section {
    border-block-end: 1px solid var(--honey-400);

    @media (prefers-color-scheme: dark) {
      border-color: var(--denim-400);
    }
  }

  section:last-child {
    border-block-end: none;
  }
}

/* match the card --- */
/* TESTIMONOIALS */
/*------------------*/

/*  match the card */
.testimonial {
  background-color: var(--honey-50);
  border: 2px solid var(--brilliance);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: var(denim-700);
    border-color: var(--denim-600);
  }
}

.slider-container {
  display: flex; /*  keeps the margins in */
  background-color: var(--honey-50);

  @media (prefers-color-scheme: dark) {
    background-color: var(denim-700);
  }
}

.testimonial {
  background-color: var(--brilliance);
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-750);
  }
  svg {
    fill: var(--honey-400);
    outline: 1px solid var(--honey-50);

    @media (prefers-color-scheme: dark) {
      outline: none;
    }
  }
}
