body {
  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
    color: whitesmoke;
  }
}

header h2 {
  margin: 0;
  padding: 1rem;
  background-color: var(--honey-h-8);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
  }
}

header {
  background: var(--honey-h-8);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
  }
}

.menu__small {
  background-color: whitesmoke;
  opacity: 0.9;
  // box-shadow: var(--troposphere);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
  }
}

button {
  background: transparent;
  border: none;

  @media (prefers-color-scheme: dark) {
    color: var(--honey-1);
  }
}

header button svg {
  border-radius: 0.25rem;
  transition: var(--moment);
}

header button:hover svg {
  background-color: var(--honey-h-2);
}

.testimonials svg {
  fill: var(--honey-h-4);
  outline: 1px solid var(--honey-h-8);
  margin-block-end: 1.5rem;
}
