/*------------------*/
//  #COLOR
/*------------------*/

body {
  background: hsl(var(--honey), 100%, 99%); // custom
  color: hsl(var(--denim), 12%, 12%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 5%); // custom
    color: hsl(var(--honey), 100%, 97.5%); // custom
  }
}

/*------------------*/
//  #TOPBAR
/*------------------*/

.top-bar {
  background-color: whitesmoke;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 25%);
  }
}

/*------------------*/
//  #HEADER
/*------------------*/

header {
  background: hsl(var(--honey) 100%, 100%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
  }

  h2 {
    background-color: hsl(var(--honey), 100%, 97.5%);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
    }
  }

  button:hover svg {
    background-color: hsl(var(--honey), 100%, 25%);
  }
}

.menu__small {
  background-color: whitesmoke;
  opacity: 0.9;
  // box-shadow: var(--troposphere);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 100%, 12%);
  }
}

button {
  background: transparent;
  border: none;
}

/*------------------*/
//  #TESTIMONOIALS
/*------------------*/

.slider-container {
  background-color: hsl(var(--honey), 100%, 97.5%); // custom

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
  }
}

.testimonials svg {
  fill: hsl(var(--honey), 100%, 50%);
  outline: 1px solid hsl(var(--honey), 100%, 97.5%);
  // margin-block-end: 1.5rem;

  @media (prefers-color-scheme: dark) {
    outline: none;
  }
}
