form {
  display: flex;
  flex-direction: column;
  margin-block-end: 1.5rem;

  input,
  textarea {
    margin-block-end: 0.5rem;
    display: block;
    width: calc(100% - 2rem);
    max-width: $book;
    border-radius: calc(var(--border-radius) * 2);
    padding-block: 0.5rem; // 16
    padding-inline: 0.5rem; // 16
    margin-block-end: 0.25rem; // 8px
    border: 1px solid var(--honey-h-4);
  }

  textarea {
    height: 6rem;
  }

  label {
    width: calc(100% - 2rem);
    margin-block-end: 1.25rem;
    margin-inline: auto;
  }

  button {
    background-color: var(--honey-h-4);
    width: max-content;
    padding-block-start: 0.75rem;
    padding-block-end: 0.5rem;
    padding-inline: 1rem;
    box-shadow: var(--troposphere);
    transition: var(--moment);
    font-family: josefin-sans, sans-serif;
    margin-inline-start: 1rem;
    border-radius: var(--border-radius);
  }

  button:hover,
  button:focus {
    background-color: var(--honey-5);
    box-shadow: var(--stratosphere);
  }
}
