form {
  display: flex;
  flex-direction: column;
  margin-block-end: 1.5rem;

  input,
  textarea,
  input[type="checkbox"] {
    margin-block-end: 0.5rem;
    display: block;
    width: calc(100% - 2rem);
    max-width: 60rem;
    border-radius: calc(var(--border-radius) * 2);
    padding-block: 0.5rem; /*  16 */
    padding-inline: 0.5rem; /* 16 /
    margin-block-end: 0.25rem; /* 8px */
    border: 1px solid var(--honey-400);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 12%);
      border-color: hsl(var(--denim), 25%, 25%);
      color: var(--honey-50);
    }
  }

  textarea {
    height: 6rem;
  }

  label {
    width: calc(100% - 2rem);
    margin-block-end: 1.25rem;
    margin-inline: auto;
  }

  /* TODO: esspecially on mobile these currently look bad */
  /* https://moderncss.dev/pure-css-custom-checkbox-style/ */
  input[type="checkbox"] {
    width: auto;
    margin-block-end: 0;
    margin-inline-end: 0.5rem;
    background-color: white;
    border-color: hsl(var(--honey-400)) !important; /* TODO: why */
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }

  input:checked {
    /* ! testing */
    /* outline: 2px solid pink; */

    border-color: hsl(var(--honey-700)) !important;
  }

  .checkbox {
    display: flex;
    flex-direction: row-reverse;
    /* double backwards */
    justify-content: flex-end;
  }

  .address-together {
    width: calc(100% - 2rem);
    margin-inline: auto;
    display: flex;

    .address {
      flex: 2;
    }

    .zip {
      flex: 1;
    }
  }
}

/*------------------*/
/* ProcessSwitch */
/*------------------*/

.process-switch {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--honey-100);
  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 25%);
  }

  label {
    flex: 1 1 auto;
    text-align: center;
    line-height: 2rem;
    border-radius: 2rem;
    margin-block-end: 0; /* reset */
    transition: var(--moment);
    /* TODO: make this work with slide across but think about how that would work first */
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--honey-600);

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--denim), 37%, 63%);
    }

    input {
      appearance: none;
      border: none;
      padding: 0;
      margin: 0;
      height: 0;
    }
  }

  label.current {
    background-color: var(--honey-400);
    color: hsl(var(--honey-hue), 100%, 12.5%);
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 50%);
      color: hsl(var(--denim), 25%, 87.5%);
    }
  }

  label:hover {
    cursor: pointer;
    background-color: var(--honey-200);
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 37.5%);
      color: hsl(var(--denim), 25%, 87.5%);
    }
  }

  label.current:hover {
    cursor: default;
    background-color: var(--honey-400);
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 50%);
    }
  }

  span {
    white-space: nowrap;
  }
}
