/*------------------------------------*/
//  #BASE
/*------------------------------------*/

.measure {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

.pad {
  max-width: $pad; //
  margin-inline: auto;
}

/*------------------------------------*/
//  #HEADER
/*------------------------------------*/

header button svg {
  border-radius: 0.25rem;
  transition: var(--moment);
}

.top-bar {
  text-align: center;
  z-index: 3;
  position: relative;

  h2 {
    font-size: 1rem;
    margin-block: 0;
    padding-block: 0.5rem;
  }

  hr {
    margin-block-start: 0;
  }
}

header {
  z-index: 2;
  position: relative; // needed for z-index

  h2 {
    margin: 0;
    padding: 1rem;
  }
}

.header-container {
  margin-inline: auto;
  display: grid;
  max-width: var(--measure); // ? I might want this for other than the header
  max-width: var(--book);

  .stripe {
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 1;
    background: hsl(var(--honey), 100%, 97.5%); // needed if the menu is large

    @media (prefers-color-scheme: dark) {
      background: hsl(var(--denim), 100%, 12%);
    }

    @media (min-width: $book) {
      background-color: transparent;
    }
  }

  svg {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    min-width: 6rem;
  }

  button {
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
    max-width: 6rem;
    justify-self: flex-end;

    svg {
      min-width: max-content;
      max-width: max-content;
    }
  }

  h2 {
    grid-row: 2;
    grid-column: 1/3;
    z-index: 2;
  }
}

/*------------------------------------*/
//  #MAIN
/*------------------------------------*/

/*------------------------------------*/
//  #HERO
/*------------------------------------*/

.hero-container {
  @media (min-width: $book) {
    background-color: hsl(var(--honey), 100%, 97.5%);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 37%, 12%);
    }
  }
}

.hero {
  @media (min-width: $book) {
    max-width: var(--page_width);
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block-end: 3rem;

    // I dont think I need a background color on large screens
    // background-color: hsl(var(--honey), 100%, 97.5%);
    /* 
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
    } */

    .village-container {
      grid-row: 1/3;
      grid-column: 2;
    }
  }

  h2 {
    margin-inline: auto;
    max-width: var(--measure);
    padding-inline: auto;
  }
}

/*------------------*/
//  #SIDEKICK
/*------------------*/

.service-area {
  .states {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    > * {
      flex: 1 1 10rem;
    }
  }
}

/*------------------------------------*/
//  .areas-and-gallery
/*------------------------------------*/

.areas-and-gallery {
  @media (min-width: $book) {
    display: grid;
    max-width: var(--page_width);
    margin-inline: auto;

    .service-area {
      grid-row: 1;
      grid-column: 2;
    }

    .home-gallery {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.trusted,
.service-area,
.services,
.testimonials,
.contact {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (max-width: $book) {
  .contact {
    padding-inline: 0;
  }
}

.home-gallery {
  max-width: var(--measure);
  margin-inline: auto;
  display: flex;

  @media (min-width: $book) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.village-container a {
  display: grid;
  aspect-ratio: 3/2;
  overflow: hidden;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  p {
    z-index: 1;
    align-self: flex-end;
    // text-align: center;
    justify-self: center;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    opacity: 0.7;
    background-color: whitesmoke;
    border: 1px solid white;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
      border: 1px solid black; // TODO
    }
    // mix-blend-mode: lighten;
  }
}

/*------------------------------------*/
//  #FOOTER
/*------------------------------------*/

// * this name isnt great as I also use it for vendors
.footer-social {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    max-width: var(--measure);
    padding-inline-start: 0; // reset

    li {
      list-style: none;

      a {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
      }

      svg {
        margin-inline: auto;
        max-width: 2.5rem;
        fill: hsl(var(--honey), 62%, 62%);

        @media (prefers-color-scheme: dark) {
          fill: hsl(var(--denim), 25%, 37%);
        }
      }

      a svg:hover {
        fill: hsl(var(--honey), 100%, 50%);

        @media (prefers-color-scheme: dark) {
          fill: hsl(var(--denim), 25%, 63%);
        }
      }
    }
  }
}

.footer-container {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);
  display: flex;
  flex-flow: row wrap;
  margin-block-start: 3rem;

  > * {
    flex: 1;
  }
}

.footer-copyright {
  @extend .footer-container;
  flex-direction: column;

  > * {
    text-align: center;
  }
}

footer {
  margin-block-end: 3rem;

  .logo {
    margin-block-end: 1.5rem;
  }
}

.accordian-spinner {
  z-index: 2;
  position: relative;
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

.testimonials {
  // margin-block-start: 1.5rem;
  // padding-block-start: 1.5rem;
  // padding-block-end: 1.5rem;

  hr {
    padding-block-start: 1.5rem;
  }

  ul {
    padding-inline-start: 0;
  }

  // padding-block-end: 3rem;
  h3 {
    display: block;
    // padding-block-end: 1.5rem;
    font-size: 1.25rem;
  }

  .together h3,
  .together p {
    display: inline-block;
  }

  .together p {
    margin-inline-start: 1rem;
  }
}

/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  margin-block-start: 1.5rem;
}

.triple {
  display: flex;
  gap: 0.25rem;
  max-width: $book;
  margin-inline: auto;
  margin-block: 3rem;

  @media (min-width: $book) {
    gap: 1rem;
  }

  > * {
    width: 33%;
    box-shadow: var(--troposphere);
    border-radius: var(--border-radius);
    border: 1px solid whitesmoke;

    @media (prefers-color-scheme: dark) {
      border-color: hsl(var(--denim), 12%, 12%);
    }
  }
}

.team {
  @media (min-width: $pad) {
    border-left: 1px solid orange; // TODO
    padding-inline-start: 1rem;

    @media (prefers-color-scheme: dark) {
      border-color: hsl(var(--denim), 12%, 12%);
    }
  }
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

.testimonial-links {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}

.services-wrap {
  max-width: var(--page_width);
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 30rem;
  }
}

/*------------------*/
//  #AREAS PAGE
/*------------------*/

.areas__page .states {
  display: flex;
}

.areas__states {
  width: 100%;
  display: flex;

  > * {
    flex: 1;
  }
}

@media (max-width: $book) {
  #team {
    padding-inline-start: 0;
  }
}

.team-header {
  display: flex;
  justify-content: space-between;
}
