/*------------------------------------*/
//  #BASE
/*------------------------------------*/

.measure {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

.pad {
  max-width: $pad; //
  margin-inline: auto;
}

/*------------------------------------*/
//  #HEADER
/*------------------------------------*/

.top-bar {
  text-align: center;
  z-index: 3;
  position: relative;
  // background-color: whitesmoke;

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
  }

  h2 {
    font-size: 1rem;
    margin-block: 0;
    padding-block: 0.5rem;
  }

  hr {
    margin-block-start: 0;
  }
}

header {
  z-index: 2;
  position: relative; // needed for z-index
}

.header-container {
  margin-inline: auto;
  display: grid;
  max-width: var(--measure);

  .stripe {
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 1;
    background: var(--honey-h-8); // needed if the menu is large

    @media (prefers-color-scheme: dark) {
      background: var(--denim-1);
    }
  }

  svg {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
  }

  button {
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
    max-width: 6rem;
    justify-self: flex-end;
  }

  h2 {
    grid-row: 2;
    grid-column: 1/3;
    z-index: 2;
  }
}

/*------------------------------------*/
//  #MAIN
/*------------------------------------*/

/*------------------------------------*/
//  #HERO
/*------------------------------------*/

.hero-container {
  @media (min-width: $book) {
    background-color: var(--honey-h-8);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-1);
    }
  }
}

.hero {
  @media (min-width: $book) {
    max-width: var(--page_width);
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block-end: 3rem;
    background-color: var(--honey-h-8);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-1);
    }

    .village-container {
      grid-row: 1/3;
      grid-column: 2;
    }
  }

  h2 {
    margin-inline: auto;
    max-width: var(--measure);
    padding-inline: auto;
  }
}

/*------------------*/
//  #SIDEKICK
/*------------------*/

.service-area {
  .states {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    > * {
      flex: 1 1 10rem;
    }
  }
}

/*------------------------------------*/
//  .areas-and-gallery
/*------------------------------------*/
.areas-and-gallery-container {
  @media (min-width: $book) {
    background-color: var(--honey-6);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-2);
    }
  }
}

.areas-and-gallery {
  @media (min-width: $book) {
    display: grid;
    max-width: var(--page_width);
    margin-inline: auto;

    .service-area {
      grid-row: 1;
      grid-column: 2;
    }

    .home-gallery {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.trusted,
.service-area,
.services,
.testimonials,
.contact {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

.home-gallery {
  max-width: var(--measure);
  margin-inline: auto;
  display: flex;

  @media (min-width: $book) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.village-container a {
  display: grid;
  aspect-ratio: 3/2;
  overflow: hidden;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  p {
    z-index: 1;
    align-self: flex-end;
    // text-align: center;
    justify-self: center;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    opacity: 0.7;
    background-color: whitesmoke;
    border: 1px solid white;

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-1);
      border: 1px solid black;
    }
    // mix-blend-mode: lighten;
  }
}

/*------------------------------------*/
//  #FOOTER
/*------------------------------------*/

.footer-social {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    max-width: var(--measure);
    padding-inline-start: 0; // reset

    li {
      list-style: none;

      svg {
        max-width: 2.5rem;
        fill: var(--honey-5);
        fill: hsl(var(--honey), 62%, 62%);
      }

      a svg:hover {
        fill: var(--honey-h-4);
      }
    }
  }
}

.footer-container {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);
}

footer {
  margin-block-end: 3rem;

  .logo {
    margin-block-end: 1.5rem;
  }
}

.accordian-spinner {
  z-index: 2;
  position: relative;
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

.testimonials {
  // margin-block-start: 1.5rem;
  // padding-block-start: 1.5rem;
  // padding-block-end: 1.5rem;

  hr {
    padding-block-start: 1.5rem;
  }

  ul {
    padding-inline-start: 0;
  }

  // padding-block-end: 3rem;
  h3 {
    display: block;
    // padding-block-end: 1.5rem;
    font-size: 1.25rem;
  }

  .together h3,
  .together p {
    display: inline-block;
  }

  .together p {
    margin-inline-start: 1rem;
  }
}

/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  margin-block-start: 1.5rem;
}

.triple {
  display: flex;
  gap: 1rem;
  max-width: $book;
  margin-inline: auto;
  margin-block: 3rem;

  > * {
    width: 33%;
    box-shadow: var(--troposphere);
    border-radius: var(--border-radius);
    border: 1px solid whitesmoke;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-block-start: 3rem;

  @media (min-width: $pad) {
    flex-flow: row wrap;
  }

  > * {
    flex: 1;
  }
}

.team {
  @media (min-width: $pad) {
    border-left: 1px solid orange;
    padding-inline-start: 1rem;
  }
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

.testimonial-links {
  display: flex;
  gap: 1rem;
}

.services-wrap {
  max-width: var(--page_width);
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 30rem;
  }
}

/*------------------*/
//  #AREAS PAGE
/*------------------*/

.areas__page .states {
  display: flex;
}

.areas__states {
  width: 100%;
  display: flex;

  > * {
    flex: 1;
  }
}
