/*------------------------------------*/
//  #BASE
/*------------------------------------*/
main {
  margin-block-start: 2.5rem;
}

.measure {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

// this is incase the content isnt wide enough
.measure__extend {
  @extend .measure;
  width: 100%;
}

.pad {
  max-width: $pad; //
  margin-inline: auto;
}

.pelican {
  max-width: var(--pelican);
  margin-inline: auto;
  padding-inline: 1rem;
}

/*------------------------------------*/
//  #HEADER
/*------------------------------------*/

header button svg {
  border-radius: 0.25rem;
  transition: var(--moment);
}

.top-bar {
  z-index: 3;
  position: relative;

  hr {
    margin-block-start: 0;
  }
}

header {
  z-index: 2;
  position: relative; // needed for z-index

  h2 {
    margin: 0;
    padding: 1rem;
  }
}

.header-container {
  margin-inline: auto;
  display: grid;
  max-width: var(--measure); // ? I might want this for other than the header
  max-width: var(--book);

  .stripe {
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 1;

    @media (min-width: $book) {
      background-color: transparent;
    }
  }

  svg {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    min-width: 6rem;
  }

  button {
    background: none;
    border: none;
    box-shadow: none !important;
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
    max-width: 4rem; // guess and check
    margin-inline-end: 1rem;
    margin-block-start: 1rem;
    justify-self: flex-end;
    height: min-content;
    padding: 0;

    svg {
      min-width: max-content;
      max-width: max-content;
    }
  }

  button:hover {
    background-color: transparent !important; // overwirte the regular button style
    box-shadow: none;
  }

  h2 {
    grid-row: 2;
    grid-column: 1/3;
    z-index: 2;
  }
}

/*------------------------------------*/
//  #MAIN
/*------------------------------------*/

/*------------------------------------*/
//  #HERO
/*------------------------------------*/

.hero-container {
  @media (min-width: $book) {
    background-color: hsl(var(--honey), 100%, 97.5%);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 37%, 12%);
    }
  }
}

.hero {
  @media (min-width: $book) {
    max-width: var(--page_width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;
    padding-inline: 1rem;
    padding-block-end: 3rem;

    // I dont think I need a background color on large screens
    // background-color: hsl(var(--honey), 100%, 97.5%);
    /* 
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
    } */

    .village-container {
      grid-row: 1/3;
      grid-column: 2;
    }
  }

  h2 {
    margin-inline: auto;
    max-width: var(--measure);
    padding-inline: auto;
  }
}

/*------------------*/
//  #SIDEKICK
/*------------------*/

.service-area {
  .states {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    > * {
      flex: 1 1 10rem;
    }
  }
}

/*------------------------------------*/
//  .areas-and-gallery
/*------------------------------------*/

.areas-and-gallery {
  @media (min-width: $book) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--page_width);
    margin-inline: auto;

    .service-area {
      grid-row: 1;
      grid-column: 2;
    }

    .home-gallery {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.trusted,
.service-area,
.services,
.testimonials,
.contact {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (max-width: $book) {
  .contact {
    padding-inline: 0;
  }
}

.home-gallery {
  max-width: var(--measure);
  margin-inline: auto;
  display: flex;

  @media (min-width: $book) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

// ? this seems very specific
.village-container a {
  display: grid;
  aspect-ratio: 3/2;
  overflow: hidden;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  p {
    z-index: 1;
    align-self: flex-end;
    // text-align: center;
    justify-self: center;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    opacity: 0.7;
    background-color: whitesmoke;
    border: 1px solid white;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 100%, 12%);
      border: 1px solid black; // TODO
    }
    // mix-blend-mode: lighten;
  }
}

/*------------------------------------*/
//  #FOOTER
/*------------------------------------*/

// * this name isnt great as I also use it for vendors
.footer-social {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem;
    max-width: var(--measure);
    padding-inline-start: 0; // reset
    justify-content: center;

    @media (min-width: $book) {
      justify-content: flex-start;
    }

    li {
      list-style: none;

      a {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
      }

      svg {
        margin-inline: auto;
        max-width: 2.5rem;
        fill: hsl(var(--honey), 62%, 62%);

        @media (prefers-color-scheme: dark) {
          fill: hsl(var(--denim), 25%, 37%);
        }
      }

      a svg:hover {
        fill: hsl(var(--honey), 100%, 50%);

        @media (prefers-color-scheme: dark) {
          fill: hsl(var(--denim), 25%, 63%);
        }
      }
    }
  }
}

.footer-social--self ul {
  justify-content: flex-start;

  @media (min-width: $book) {
    justify-content: space-between;
  }
}

.footer-container {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 1rem;

  > * {
    flex: 1 1 15rem;
  }
}

.footer-copyright {
  max-width: var(--measure);
  margin-inline: auto;
  width: calc(100% - 2rem);
  display: flex;
  gap: 1rem;
  margin-block-start: 0.5rem; // skip 1rem due to a flex gap from a sr-only element
  flex-direction: column;

  @media (min-width: $book) {
    margin-block-start: 2rem; // skip 1rem due to a flex gap from a sr-only element
  }

  > * {
    text-align: center;
  }

  // there shouldnt be a flex gap if you cant see the content
  .footer-copyright__mind-the-gap {
    margin-block-end: -1rem;
  }
}

footer {
  margin-block-end: 3rem;

  .logo {
    margin-block-end: 1.5rem;
  }
}

.accordian-spinner {
  z-index: 2;
  position: relative;
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

// TODO inception rule

.testimonials {
  padding-inline: 0; // reset

  .testimonial {
    list-style: none;
    background-color: hsl(var(--honey), 12%, 97.5%);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--honey), 100%, 50%);
    margin-block-end: 1rem;
    box-shadow: var(--mesosphere);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--denim), 25%, 12%);
      border-color: hsl(var(--denim), 25%, 25%);
    }

    figure {
      margin: 0; // reset

      blockquote {
        margin: 0; // reset
        display: grid;
        gap: 1rem;

        > * {
          grid-column: 2;
        }
      }
    }

    .testimonial--quote_mark {
      // TODO maybe this https://fonts.adobe.com/fonts/park-lane but it needs to only get the apostrophe
      font-family: "BIZ UDPMincho", serif;
      grid-column: 1;
    }

    .testimonial--stars {
      list-style: none;
      display: flex;
    }
  }

  hr {
    padding-block-start: 1.5rem;
  }

  ul {
    padding-inline-start: 0;
    margin-block-start: 0; // reset
  }

  // padding-block-end: 3rem;
  h3 {
    display: block;
    // padding-block-end: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-block-end: 0.625rem;
  }

  .together h3,
  .together p {
    display: inline-block;
  }

  .together p {
    margin-inline-start: 1rem;
  }
}

/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  margin-block-start: 1.5rem;
}

.triple {
  display: flex;
  gap: 0.25rem;
  max-width: $book;
  margin-inline: auto;
  margin-block: 3rem;

  @media (min-width: $book) {
    gap: 1rem;
  }

  > * {
    width: 33%;
    box-shadow: var(--troposphere);
    border-radius: var(--border-radius);
    border: 1px solid whitesmoke;

    @media (prefers-color-scheme: dark) {
      border-color: hsl(var(--denim), 12%, 12%);
    }
  }
}

.team {
  @media (min-width: $pad) {
    border-left: 1px solid hsl(var(--honey), 100%, 50%); // TODO
    padding-inline-start: 1rem;

    @media (prefers-color-scheme: dark) {
      border-color: hsl(var(--denim), 12%, 12%);
    }
  }
}

/*------------------*/
//  #TESTIMONIALS
/*------------------*/

.testimonial-links {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  margin-block-end: var(--line-height);
}

.services-wrap {
  max-width: var(--page_width);
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 30rem;
  }
}

/*------------------*/
//  #AREAS PAGE
/*------------------*/

.areas__page .states {
  display: flex;
}

.areas__states {
  width: 100%;
  display: flex;

  > * {
    flex: 1;
  }
}

.team-header {
  display: flex;
  justify-content: space-between;
}

/*------------------*/
//  #ATTRIBUTE
/*------------------*/

.attributes {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;
  max-width: var(--book);
  margin-inline: auto;
  padding-inline: 1rem;

  .attribute {
    // border-inline-end: 1px solid hsl(var(--honey), 100%, 50%);
    padding-inline-end: 1rem;

    .crest {
      margin-block-end: 1rem;
    }

    .range {
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-block-end: 0.5rem;
      max-width: 20rem;
    }

    .listed {
      list-style: none;
      margin-block-start: 0;
      padding-inline-start: 0;
    }
  }

  .attribute h3 a::after {
    content: ", ";
    text-decoration: none; // TODO this isnt working
  }

  .attribute h3 a:last-child::after {
    content: none;
  }

  .attribute:last-child {
    border-inline-end: none;
    padding-inline-end: 0;
  }
}

/*------------------*/
//  #SINGLE
// Markdown content

/*------------------*/

.single {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-block-end: 1.5rem;

  img {
    flex: 1 1 10rem;
    border-radius: var(--border-radius);
    box-shadow: var(--troposphere);
    border: 1px solid whitesmoke;

    @media (prefers-color-scheme: dark) {
      border-color: hsl(var(--denim), 12%, 12%);
    }
  }
}

/*------------------*/
//  #VENUE
/*------------------*/

.venue {
  margin-block-end: calc(var(--line-height) * 3);
}
