/*------------------------------------*/
//  #LINKS
/*------------------------------------*/

a {
  // color: hsl(var(--honey), 100%, 37%);
  color: hsl(var(--honey), var(--louie-h), 30%); // custom
  transition: var(--moment);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 63%);
  }
  // text-decoration: none;
}

a:hover {
  color: hsl(var(--honey), 100%, 37%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 37%);
  }
}

// a:hover::selection {
// ! this doesnt work but kinda needs to be a thing
a::selection {
  background-color: hsl(var(--honey), 100%, 25%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 25%);
  }
}

/*------------------*/
//  #BUTTON
/*------------------*/

button {
  background-color: hsl(var(--honey), 100%, 75%);
  border: 1px solid hsl(var(--honey), 100%, 63%);
  width: max-content;
  padding-block-start: 0.75rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  box-shadow: var(--stratosphere);
  transition: var(--moment);
  margin-inline-start: 1rem;
  border-radius: var(--border-radius);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
    border-color: hsl(var(--denim), 12%, 25%);
    color: hsl(var(--denim), 25%, 63%);
  }
}

// TODO active and focus
button:hover,
button:focus {
  color: hsl(var(--honey), 100%, 37%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 37%);
    border-color: hsl(var(--denim), 12%, 50%);
    color: hsl(var(--denim), 25%, 97.5%);
  }
}

/*------------------*/
//  #HOVER BACK, this is a kinda button style
/*------------------*/

.hover-back {
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
  display: block;
  max-width: max-content;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.hover-back:hover {
  border: 1px solid hsl(var(--honey), 100%, 87%);
  background-color: hsl(var(--honey), 100%, 97.5%);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 12%, 25%);
    border-color: hsl(var(--denim), 12%, 12%);
  }
}

.contact-info a {
  @extend .hover-back;
}

.bigboy a {
  @extend .hover-back;
}

.bigboy a:hover {
  background-color: hsl(var(--honey), 100%, 87%);
  border-color: hsl(var(--honey), 100%, 75%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 100%, 87%);
    border-color: hsl(var(--denim), 100%, 75%);
  }
}

.hover-back--inline {
  display: inline;
}

/*------------------*/
//  #FOOTER
/*------------------*/

.footer-copyright a svg {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

.footer-copyright a:hover svg {
  border-color: hsl(var(--honey), 100%, 50%);

  @media (prefers-color-scheme: dark) {
    border-color: hsl(var(--denim), 12%, 50%);
  }
}
