/*------------------------------------*/
/* LINKS */
/*------------------------------------*/

a {
  color: var(--honey-600);
  transition: var(--moment);

  @media (prefers-color-scheme: dark) {
    color: var(--denim-300);
  }
}

a:hover,
.a-hover-storybook {
  text-decoration: none;
  color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    color: var(--denim-400);
  }
}

a:focus,
.a-focus-storybook {
  color: var(--honey-200);
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: var(--denim-500);
  }
}

a::selection {
  background-color: var(--honey-600);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-600);
  }
}

.link--subtle {
  color: var(--denim-700);

  @media (prefers-color-scheme: dark) {
    color: var(--honey-50); /*  custom */
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--denim-700);

    @media (prefers-color-scheme: dark) {
      color: var(--honey-50); /*  custom */
    }
  }
}

/*------------------*/
/* TODO: this got messy clean it up */
/* HOVER BACK, this is a kinda button style */
/*  * this should be on the <a> tag to not have to worry about child styles */
/*------------------*/

.bigboy a:not(.header__logo),
.contact-info a,
.footer_list a .hover-back {
  /*  ? how much of this is a button */
  padding-block: var(--kosciuszko);
  padding-inline: 0.5rem;
  display: block;
  max-width: max-content;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transform: var(--moment);
  transition: var(--moment);
  /*  theres no color indicated here it all comes from the <a> so it doesnt need a dark */
}

/*  TODO: make this reusable */
.footer_list a:hover,
.footer_list a:focus .bigboy a:hover,
.bigboy a:focus,
.contact-info a:hover,
.contact-info a:focus .hover-back:hover,
.hover-back__hover {
  background-color: var(--honey-100);
  border-color: var(--honey-200);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
    border-color: var(--denim-600);
    color: var(--denim-200);
  }
}

.hover-back__hover {
  margin-inline: auto;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  max-width: max-content;
  line-height: 1.6rem;
}

.hover-back--inline {
  display: inline;
}


/*------------------*/
/* FOOTER */
/*------------------*/

.footer-copyright a svg {
  border-radius: var(--border-radius);
  border: 1px solid transparent; /*  hold the space itll come in later */
  padding-block: var(--kosciuszko);
  padding-inline: 0.5rem;
}

.footer-copyright a:hover svg,
.footer-copyright a:focus svg {
  border-color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    border-color: var(--denim-400);
  }
}

.footer_list a {
  margin-inline: auto;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  max-width: max-content;
  line-height: 1.6rem;
  /*  TODO: move this to baseline */
}

/*------------------------------------*/
/* #SVG */
/*------------------------------------*/

a svg {
  transition: var(--moment);
  fill: var(--honey-500);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-300);
  }
}

a svg:hover {
  fill: var(--honey-500);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-300);
  }
}

/*------------------------------------*/
