/*------------------------------------*/
//  #LINKS
/*------------------------------------*/

a {
  color: var(--honey-2);

  @media (prefers-color-scheme: dark) {
    color: var(--honey-6);
  }
  // text-decoration: none;
  transition: var(--moment);
}

a:hover {
  color: var(--honey-4-a);
}

.hover-back {
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
  display: block;
  max-width: max-content;
  border-radius: var(--border-radius);
}

.hover-back:hover {
  background-color: var(--honey-7);

  @media (prefers-color-scheme: dark) {
    background-color: var(--honey-6);
  }
}

.contact-info a {
  @extend .hover-back;
}
