/*------------------------------------*/
/* LINKS */
/*------------------------------------*/

a {
  color: hsl(
    var(--honey),
    100%,
    35%
  ); /*  * lightest I can go to get aa contrast ratio */
  transition: var(--moment);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 62.5%);
  }
  /*  text-decoration: none; */
}

a:hover,
.a-hover {
  text-decoration: none; /*  TODO: add somenice animation to this */
  color: hsl(var(--honey), 75%, 25%); /*  ! testing */

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 50%);
  }
}

a:focus,
.a-focus {
  color: hsl(var(--honey), 100%, 2.5%);
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 37%);
  }
}

a::selection {
  background-color: hsl(var(--honey), 100%, 25%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 25%);
  }
}

.link--subtle {
  color: hsl(var(--denim), 12%, 12%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--honey), 100%, 97.5%); /*  custom */
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: hsl(var(--denim), 12%, 12%);

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--honey), 100%, 97.5%); /*  custom */
    }
  }
}

/*------------------*/
/* BUTTON */
/*------------------*/

button,
.button {
  background-color: hsl(var(--honey), 100%, 75%);
  border: 1px solid hsl(var(--honey), 100%, 63%);
  width: max-content;
  padding-block-start: 0.75rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  box-shadow: var(--mesosphere);
  transition: var(--moment);
  margin-inline-start: 1rem;
  margin-block-end: 1.5rem;
  border-radius: var(--border-radius);
  color: hsl(var(--honey), 100%, 25%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
    border-color: hsl(var(--denim), 12%, 25%);
    color: hsl(var(--denim), 25%, 63%);
  }

  a {
    color: hsl(
      var(--honey),
      100%,
      25%
    ) !important; /* /*  ! fix this bt keep a11y color contrast   */
  }
}

button {
  padding-block-start: 0.75rem;
  padding-block-end: 0.5rem;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding-block: 0.75rem;
}

/*  TODO active and focus */
button:hover,
.button:hover {
  color: hsl(var(--honey), 100%, 2.5%);
  box-shadow: var(--stratosphere);
  background-color: hsl(var(--honey), 87%, 63%);
  border-color: hsl(var(--honey), 87%, 50%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 37%);
    border-color: hsl(var(--denim), 12%, 50%);
    color: hsl(var(--denim), 25%, 97.5%);
  }
}

button:focus,
.button:focus {
  /*  TODO: */
}

.button--left-align {
  margin-inline-start: 0;
}

.button-hero {
  place-self: start;
}

/*------------------*/
/* HOVER BACK, this is a kinda button style */
/*  * this should be on the <a> tag to not have to worry about child styles */
/*------------------*/

.bigboy a:not(.header__logo),
.contact-info a,
.footer_list a .hover-back {
  /*  ? how much of this is a button */
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
  display: block;
  max-width: max-content;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transform: var(--moment);
  transition: var(--moment);
  /*  theres no color indicated here it all comes from the <a> so it doesnt need a dark */
}

/*  * make this reusable */
.footer_list a:hover,
.footer_list a:focus .bigboy a:hover,
.bigboy a:focus,
.contact-info a:hover,
.contact-info a:focus .hover-back:hover,
.hover-back__hover {
  background-color: hsl(var(--honey), 100%, 87%);
  border-color: hsl(var(--honey), 100%, 75%);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 100%, 12%);
    border-color: hsl(var(--denim), 100%, 25%);
    color: hsl(var(--denim), 37%, 75%);
  }
}

.hover-back--inline {
  display: inline;
}

/*------------------*/
/* FOOTER */
/*------------------*/

.footer-copyright a svg {
  border-radius: var(--border-radius);
  border: 1px solid transparent; /*  hold the space itll come in later */
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

.footer-copyright a:hover svg,
.footer-copyright a:focus svg {
  border-color: hsl(var(--honey), 100%, 50%);

  @media (prefers-color-scheme: dark) {
    border-color: hsl(var(--denim), 12%, 50%);
  }
}

.footer_list a {
  margin-inline: auto;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  max-width: max-content;
  line-height: 1.6rem;
  /*  TODO: move this to baseline */
}

/*------------------------------------*/
/* #SVG */
/*------------------------------------*/

a svg {
  transition: var(--moment);
  fill: hsl(var(--honey), 100%, 35%);

  @media (prefers-color-scheme: dark) {
    fill: hsl(var(--denim), 37%, 62.5%);
  }
}

a svg:hover {
  fill: hsl(var(--honey), 100%, 37%);

  @media (prefers-color-scheme: dark) {
    fill: hsl(var(--denim), 25%, 63%);
  }
}
