/*------------------------------------*/
//  #LINKS
/*------------------------------------*/

a {
  // color: hsl(var(--honey), 100%, 37%);
  color: hsl(var(--honey), 100%, 30%); // custom
  transition: var(--moment);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 63%);
  }
  // text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none; // TODO: add somenice animation to this
  color: hsl(var(--honey), 100%, 37%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--denim), 37%, 37%);
  }
}

a::selection {
  background-color: hsl(var(--honey), 100%, 25%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 25%);
  }
}

.link--subtle {
  color: hsl(var(--denim), 12%, 12%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--honey), 100%, 97.5%); // custom
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: hsl(var(--denim), 12%, 12%);

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--honey), 100%, 97.5%); // custom
    }
  }
}

/*------------------*/
//  #BUTTON
/*------------------*/

button {
  background-color: hsl(var(--honey), 100%, 75%);
  border: 1px solid hsl(var(--honey), 100%, 63%);
  width: max-content;
  padding-block-start: 0.75rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  box-shadow: var(--mesosphere);
  transition: var(--moment);
  margin-inline-start: 1rem;
  margin-block-end: 1.5rem;
  border-radius: var(--border-radius);
  color: hsl(var(--honey), 100%, 25%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 12%);
    border-color: hsl(var(--denim), 12%, 25%);
    color: hsl(var(--denim), 25%, 63%);
  }

  a {
    color: hsl(
      var(--honey),
      100%,
      25%
    ) !important; /* // ! fix this bt keep a11y color contrast */
  }
}

// TODO active and focus
button:hover,
button:focus {
  color: hsl(var(--honey), 100%, 2.5%);
  box-shadow: var(--stratosphere);
  background-color: hsl(var(--honey), 87%, 63%);
  border-color: hsl(var(--honey), 87%, 50%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 37%);
    border-color: hsl(var(--denim), 12%, 50%);
    color: hsl(var(--denim), 25%, 97.5%);
  }
}

.button--left-align {
  margin-inline-start: 0;
}

.button-hero {
  place-self: start;
}

/*------------------*/
//  #HOVER BACK, this is a kinda button style
// * this should be on the <a> tag to not have to worry about child styles
/*------------------*/

.hover-back {
  // ? how much of this is a button
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
  display: block;
  max-width: max-content;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transform: var(--moment);
  transition: var(--moment);
  // theres no color indicated here it all comes from the <a> so it doesnt need a dark
}

// * make this reusable
.hover-back__hover {
  background-color: hsl(var(--honey), 100%, 87%);
  border-color: hsl(var(--honey), 100%, 75%);
  box-shadow: var(--mesosphere);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 100%, 12%);
    border-color: hsl(var(--denim), 100%, 25%);
    color: hsl(var(--denim), 37%, 75%);
  }
}

.hover-back:hover {
  @extend .hover-back__hover;
}

.bigboy a,
.contact-info a {
  @extend .hover-back;
}

.bigboy a:hover,
.bigboy a:focus,
.contact-info a:hover,
.contact-info a:focus {
  @extend .hover-back__hover;
}

.hover-back--inline {
  display: inline;
}

/*------------------*/
//  #FOOTER
/*------------------*/

.footer-copyright a svg {
  border-radius: var(--border-radius);
  border: 1px solid transparent; // hold the space itll come in later
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

.footer-copyright a:hover svg,
.footer-copyright a:focus svg {
  border-color: hsl(var(--honey), 100%, 50%);

  @media (prefers-color-scheme: dark) {
    border-color: hsl(var(--denim), 12%, 50%);
  }
}

.footer_list a {
  @extend .hover-back;
  margin-inline: auto;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  max-width: max-content;
  line-height: 1.6rem; // TODO: move this to baseline
}

.footer_list a:hover,
.footer_list a:focus {
  @extend .hover-back__hover;
  /*  background-color: hsl(var(--honey), 100%, 97.5%);
  border: 1px solid hsl(var(--honey), 100%, 50%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 12%, 75%);
    border-color: hsl(var(--denim), 12%, 97.5%);
  } */
}
