/*------------------*/
/* LISTS */
/*------------------*/

ul {
  padding-inline-start: 0.5rem;

  li {
    padding: 0;
    line-height: var(--kilimanjaro);
    margin: 0;
    /*  https://caniuse.com/mdn-css_types_length_lh */
    margin-block-end: 0.25lh;

    @supports not (margin: var(--elbrus)) {
      margin-block-end: 0.625rem;
    }
  }
}

.list-style-none {
  padding-inline-start: 0;

  li {
    list-style: none;
  }
}

/*------------------*/
/* BREADCRUMBS */
/*------------------*/

.breadcrumbs,
.react-aria-Breadcrumbs {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

.react-aria-Breadcrumbs {
  gap: 0.5rem;
  flex-flow: row wrap;
  max-width: var(--stork);
  margin-inline: auto;
}

.react-aria-Breadcrumb {
  margin-block-end: 0;
}

.react-aria-Breadcrumb:not(:last-child)::after {
  content: " / ";
}

/*------------------------------------*/
/* #PAGINATION */
/*------------------------------------*/

.pagination {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
  place-content: space-between;

  a.current {
    color: var(--denim-700);
    text-decoration: none;
  }
}

/*------------------*/
/* FOOTER */
/*------------------*/

.footer_list > ul {
  /*  this is a flex not a grid to be able to reorder with the season */
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
  gap: 0.5rem;
  justify-items: space-between;
  align-items: space-between;

  /*  theres not 1 number that does this its close but not there */
  > li {
    flex: 1 1 1var (--vinson);

    @media (min-width: 60rem) {
      flex: 1 1 9rem;
    }

    list-style: none;
    line-height: 1.6rem; /*  based on the borders when hovered */
    padding-block-end: 0.5rem;
    text-align: center;
    padding-inline-start: 0;
    border: 1px solid;
    border-color: var(--honey-100);
    border-radius: var(--border-radius);
    background-color: var(--honey-50);
    padding-block: 0.5rem;

    @media (min-width: 60rem) {
      border: none;
      border-right: 1px solid var(--honey-400);
      border-radius: 0;
      background-color: transparent;
    }

    @media (prefers-color-scheme: dark) {
      border-color: var(--denim-600);
    }

    @media (max-width: 60rem) {
      @media (prefers-color-scheme: dark) {
        background-color: var(--denim-700);
      }
    }

    ul {
      padding-inline-start: 0;
      li {
        list-style: none;
      }
    }

    /*  this is all just guess and check as its a weird spot */
    .footer_list--no_link {
      padding-block-start: 0.5rem;
      /*  padding-block-end: 0.65rem; */
    }
  }

  li:last-child {
    @media (min-width: 60rem) {
      border-right: none;
    }
  }
}

.footer_list > ul {
  .wedding {
    order: 1;
  }

  .christmas {
    order: 2;
  }

  > li {
    order: 3;
  }
}

.footer_list .holiday,
.footer_list .xmas {
  .residential,
  .christmas {
    order: 1;
  }

  .commercial {
    order: 2;
  }

  .wedding {
    order: 3;
  }

  > li {
    order: 4;
  }
}

/*------------------*/
/* FAQs */
/*------------------*/

.faqs {
  padding-inline-start: 0; /*  reset */

  h2 {
    font-size: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
    line-height: clamp(var(--denali), 1.667vw, var(--everest));
  }
}

/*------------------*/
/* TESTIMONIALS */
/*------------------*/

.testimonials__page {
  padding-inline-start: 0;

  > li {
    list-style: none;
    background-color: hsl(var(--honey), 12%, 97.5%);
    padding: var(--vinson);
    border-radius: 0.5rem;
    border: 1px solid var(--honey-400);
    margin-block-end: var(--vinson);
    box-shadow: var(--mesosphere);

    > ul {
      /*  stars */
      padding-inline-start: 0;
    }

    h2 {
      font-size: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
      line-height: clamp(var(--denali), 1.667vw, var(--everest));
      margin-block-end: 0.5rem;
    }

    h3 {
      font-size: clamp(var(--kilimanjaro), 1.667vw, var(--aconcagua));
      line-height: clamp(var(--denali), 1.667vw, var(--everest));
      margin-block-end: 0.5rem;
    }
  }

  li {
    list-style: none;
  }
}

.stars {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.areas__page .state__name {
  list-style: none;
}

.states {
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);

  > * {
    flex: 1 1 10rem;
  }
}

.list-none {
  list-style: none;
  /*  padding-inline-start: 0; */
}

/*------------------*/
/* AFFILIATIONS */
/*------------------*/

.affiliations {
  list-style: none;
  gap: var(--vinson); /*  this works on grid and flex */
  max-width: var(--albatross); /*  60rem */
  margin-inline: auto;

  /*  Im not using flex so I can get the subgrid to line up */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1var (--vinson), 1fr));
  justify-content: stretch;
  padding: var(--kosciuszko); /*  reset */

  > .affiliation {
    border: 1px solid var(--honey-400);
    padding: var(--kosciuszko);
    box-shadow: var(--mesosphere);
    border-radius: var(--card-radius);
    display: grid;
    /*  grid-row: 1 / 5; /* this breaking as cards can not drop down rows */
    grid-row: span 4; /*  this is the key to having the cards line up */
    grid-template-rows: subgrid; /*  chromium browsers dont line up internally but dont break */
    gap: var(--vinson);

    @media (prefers-color-scheme: dark) {
      border: 1px solid var(--denim-400);
    }

    img {
      mix-blend-mode: multiply;
    }

    @media (prefers-color-scheme: dark) {
      img {
        mix-blend-mode: normal;
      }
    }

    h3 {
      font-size: clamp(var(--elbrus), 1.667vw, var(--kilimanjaro));
      line-height: clamp(var(--kilimanjaro), 1.667vw, var(--denali));
      margin-block-end: 0; /*  use the gap */
    }

    p {
      margin-block-end: 0; /*  use the gap */
    }
  }
}

/*------------------*/
/* LINK LIST */
/*------------------*/

.link-list {
  /*  this should be a variable of h2 named after a mountain */
  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      font-size: var(--denali); /*  TODO: needs a clamp */
      line-height: var(--aconcagua);
      margin-block-end: 1.875rem;
      padding-inline-start: 0;

      a {
        padding-inline-start: 0;
        background-color: var(--honey-200);
        border: 1px solid var(--honey-300);
        width: max-content;
        padding-block-start: var(--kosciuszko);
        padding-block-end: 0.5rem;
        padding-inline: var(--vinson);
        box-shadow: var(--mesosphere);
        transition: var(--moment);
        margin-inline-start: var(--vinson);
        margin-block-end: var(--kilimanjaro);
        border-radius: var(--border-radius);
        color: var(--honey-600);

        @media (prefers-color-scheme: dark) {
          background-color: var(--denim-700);
          border-color: var(--denim-600);
          color: var(--denim-300);
        }
      }

      a:hover,
      a:focus {
        color: var(--honey-700);
        box-shadow: var(--stratosphere);
        background-color: var(--honey-300);
        border-color: var(--honey-400);

        @media (prefers-color-scheme: dark) {
          background-color: var(--denim-500);
          border-color: var(--denim-400);
          color: var(--denim-100);
        }
      }
    }
  }
}

/*------------------------------------*/

.lookbook-list {
  align-self: flex-end;
  margin-block: 0;
  display: flex;
  gap: var(--vinson);
  flex-flow: row wrap;
  z-index: var(--floor);
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
  grid-row: 2;

  @container (min-width: 35rem) {
    grid-row: 1;
  }
}

/*------------------------------------*/

/*------------------------------------*/
/* #SUBAREAS */
/*------------------------------------*/

ul.subareas {
  h2 {
    font-size: var(--elbrus);
    line-height: var(--kilimanjaro);
  }
}

.sub-area-ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--vinson);
  padding-inline-start: 0;
  margin-block-start: var(--vinson);
}
