/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

/*------------------*/
//  #FOOTER
/*------------------*/

.footer_list {
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
  gap: 1rem;
  justify-items: space-between;
  align-items: space-between;

  > ul {
    padding-inline-start: 0;
    flex: 1;

    > li {
      list-style: none;
      text-align: center;
      line-height: 1.5rem;
      padding-block-end: 0.5rem;
    }
  }
}

/*------------------*/
//  #FAQs
/*------------------*/

.faqs {
  padding-inline-start: 0; // reset

  h2 {
    font-size: clamp(1.5rem, 1.667vw, 2.5rem);
    line-height: clamp(2rem, 1.667vw, 3rem);
  }
}
