/*------------------*/
/* SVG */
/*------------------*/

svg {
  min-width: 5rem;
  max-width: 5rem;
  fill: var(--brilliance);
  fill: black;
}

.logo {
  max-width: 10rem;
  fill: var(--black-metal);

  @media (prefers-color-scheme: dark) {
    fill: var(--brilliance);
  }
}

/*------------------*/
/* IMAGES */
/*------------------*/

.gatsby-image-wrapper {
  background-color: var(--honey-50);

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-700);
  }
}

/*------------------------------------*/
/* #POSTER */
/*------------------------------------*/

/* always wraps the image never on the image */
.poster {
  width: 100%;
  display: grid;

  margin-inline: auto;
  box-shadow: var(--troposphere);
  border-radius: var(--vinson);
  border: 2px solid var(--brilliance);
  margin-block-end: var(--kilimanjaro);
  max-width: var(--pelican);

  @media (min-width: 60rem) {
    margin-block-end: var(--everest);
  }

  @media (prefers-color-scheme: dark) {
    border-color: var(--denim-600);
  }

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .gatsby-image-wrapper {
    display: block;
    transition: var(--moment);
    z-index: var(--floor);
    border-radius: calc(var(--vinson) - 1px);

    /* get rid of the line test */
    padding: 0;
    margin: 0;
    height: min-content;
  }

  .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top;
  }

  img {
    width: 100%;
    /* filter: drop-shadow(0 0 3px #333); */
    border-radius: calc(var(--vinson) - 1px);
  }

  > :not(.gatsby-image-wrapper) {
    align-self: end;
    justify-self: center;
    z-index: var(--understory);
    background-color: var(--brilliance);
    border-radius: 0.5rem;
    padding: var(--vinson);
    margin-block-end: var(--vinson);
    box-shadow: var(--troposphere);
    border: 1px solid var(--brilliance);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-700);
      border-color: var(--denim-600);
    }
  }
}

/* the unconstraied sclae effect might be different in storybook test it in the wild */
a.poster:hover .gatsby-image-wrapper {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.poster.ratio-16-9 > .gatsby-image-wrapper {
  aspect-ratio: 16/9;
}

.poster--stork,
.home-hero,
.snowyroof-container {
  margin-inline: auto;
  max-width: var(--stork);
}

.deck .poster {
  margin-block-end: 0;
}

/*------------------------------------*/

/* TODO: I might have already removed these */
.village,
.snowyroof {
  aspect-ratio: 4/3; /*  TODO check on old ios */
}

/*------------------*/
/* HEADER */
/*------------------*/

header svg {
  margin: var(--kilimanjaro) var(--kosciuszko); /*  24px 12px */
  fill: var(--denim-700);
  padding: 0.25rem;
  border-radius: var(--border-radius);

  @media (prefers-color-scheme: dark) {
    fill: hsl(var(--honey), 12%, 97.5%);
  }
}

header svg:hover {
  fill: var(--honey-500);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-400);
  }
}

header svg:active {
  fill: hsl(var(--honey), 100%, var(--dull));
  fill: var(--honey-600);

  @media (prefers-color-scheme: dark) {
    fill: var(--denim-400);
  }
}

/*------------------*/
/* TEAM HEADS */
/*------------------*/

/*  TODO: needs a fix work through storybook first */
.team-heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  > a {
    /*  transition: 20s ease; /* TODO: this only seems to want to be either in or out */
    flex: 0 1 4rem; /*  guess and check */
    text-align: center;
    display: block;

    > .gatsby-image-wrapper {
      border-radius: 50%;
      max-height: 8rem;
      transition: 2s ease;
      border: 2px white solid; /*  ? white white? */
      box-shadow: var(--mesosphere);
      margin-block-end: 0.5rem;
      aspect-ratio: 1;

      img {
        border-radius: 50%;
      }
    }

    @media (prefers-color-scheme: dark) {
      > .gatsby-image-wrapper {
        border-color: var(--denim-300);
      }
    }

    > p {
      /* this is legal even tho not normally the way I do it */
      padding: 0var (--denali);
      transition: 2s ease;
    }
  }

  > a:hover p {
    border-radius: var(--border-radius);
    box-shadow: var(--stratosphere);
    background: var(--honey-50);

    @media (prefers-color-scheme: dark) {
      background: var(--denim-700);
    }
  }

  > a:hover > .gatsby-image-wrapper {
    box-shadow: var(--stratosphere);
    border-color: var(--honey-400);
  }
} /*  .team-heads */

/*------------------------------------*/
/* SPIN */
/*------------------------------------*/

/*  built upon https://codepen.io/giana/pen/yYBpVY */
/*  the first quarter is cheating but its fast enough you don't see it */

.spin .gatsby-image-wrapper {
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  overflow: unset;

  /*  Required, since we're setting absolute on pseudo-elements */
  position: relative;
  vertical-align: middle;

  &::before {
    transition:
      border-top-color 0.15s linear,
      /*  Stagger border appearances */ border-right-color 0.15s linear 0.1s,
      border-bottom-color 0.15s linear 0.2s;
  }

  &::after {
    transition:
      transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s; /*  Solid edge post-rotation */
  }

  &::before,
  &::after {
    transition: 0.5s;
    top: -2px; /*  opposite to the border-width */
    left: -2px;
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
  }

  &:hover::before {
    border-color: var(--honey-400);
    border-left-color: transparent;
  }

  &:hover::after {
    border-top: 2px solid var(--honey-400);
    border-left-width: 2px; /*  Solid edges, invisible borders */
    border-right-width: 2px; /*  Solid edges, invisible borders */
    transform: rotate(270deg); /*  Rotate around circle */
  }
}

/*------------------*/
/* AVATAR */
/*------------------*/

.team-page .avatar-wrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  box-shadow: var(--troposphere);
  border-radius: var(--border-radius);
  border-radius: 50%;
  border: 1px solid var(--brilliance);
  margin-block-end: var(--kilimanjaro);
  margin-inline: auto;
  aspect-ratio: 1;
  max-width: 80%;
  @media (min-width: 60rem) {
    max-width: 20rem;
  }
}

/*------------------*/
/* VIDEO */
/*------------------*/

.hero-video {
  max-width: var(--pelican);
  margin-inline: auto;
  display: block; /*  needed for margin-inline */
  margin-block-end: var(--aconcagua);
  box-shadow: var(--troposphere);
  border-radius: var(--border-radius);
  border: 1px solid var(--brilliance);
  /*  TODO: theres a slight white gap at the bottom */
}

/*------------------------------------*/

.look5 {
  .test {
    /* > *:not(:last-child) { */
    > * {
      align-items: center;
    }
  }

  .look,
  .gatsby-image-wrapper {
    width: calc(100% - var(--vinson));
  }

  .look {
    margin-block-end: var(--vinson);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--honey-100);

    @media (prefers-color-scheme: dark) {
      background-color: var(--denim-750);
    }
  }

  .look:not(:has(ul, p)) .gatsby-image-wrapper {
    margin-block: 0.5rem;
  }

  /*
  .look:has(:not(ul)) .gatsby-image-wrapper,
  .look:has(:not(p)) .gatsby-image-wrapper {
    margin-block-end: 0;
  } */

  .gatsby-image-wrapper {
    border-radius: var(--card-radius);
    margin-inline: auto;
    margin-block-end: var(--vinson);
  }

  a .gatsby-image-wrapper {
    transition: var(--moment);
  }

  a:hover {
    .gatsby-image-wrapper {
      transform: scale(1.05);
      filter: brightness(0.8);
    }
  }

  ul {
    margin-inline: auto;
  }
}

/*------------------------------------*/
/* #GALLERY */
/*------------------------------------*/

.gallery {
  width: 100%;
  max-width: var(--pelican);
  margin-inline: auto;
  display: grid;

  .images {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    gap: var(--vinson);
    width: calc(100% - var(--denali));
    margin-inline: auto;

    overflow-x: scroll;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    > * {
      grid-row: 1;
      scroll-snap-align: center;
    }
  }

  button {
    z-index: var(--canopy);
    grid-row: 1;
    grid-column: 1;
    margin-block-end: var(--vinson);
    align-self: center;
  }

  .prev {
    justify-self: start;
  }

  .next {
    justify-self: end;
  }

  .poster {
    width: min(calc(var(--pelican) - 10rem), 100vw);
    height: auto;
  }
}
