/*------------------*/
/* SMALL MENU */
/*------------------*/

/*  TODO this is getting past inception of 3 deep */
.menu__small {
  grid-row: 3;
  grid-column: 1;
  padding-inline-start: var(--cadence);
  z-index: var(--understory);
  /*  this has a little problem with the header image being infront of the menu */
  /*  as its in a different parent element */
  height: auto;
  grid-column: 1/3;

  menu {
    padding-inline-start: 0; /*  reset; */

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        line-height: 2rem;

        ul {
          padding-inline-start: 0; /*  reset; */
        }
      }
    }

    hr {
      width: calc(100% - 1rem);
    }
  }

  @media (min-width: 60rem) {
    display: none;
  }
}

.header__logo {
  grid-row: 1;
  grid-column: 1;
  z-index: var(--canopy);
}

/*------------------*/
/* BIGBOY */
/*------------------*/

@media (max-width: 60rem) {
  .bigboy {
    display: none;
  }
}

.bigboy {
  grid-row: 1;
  grid-column: 1/3; /*  has to layer small menu */
  z-index: 2;
  position: relative;
  align-self: center;
  max-width: var(--albatross);
  margin-inline: auto;

  ul {
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
    }
  }
}

/*------------------*/
/* MENU ORDERS */
/*------------------*/

.menu__small .wedding,
.bigboy .wedding {
  .logo {
    order: 3;
  }

  .xmas_r {
    order: 2;
  }
  .xmas_c {
    order: 4;
  }
  .wedding {
    order: 1;
  }
  .c {
    order: 5;
  }
}

.menu__small .holiday,
.bigboy .holiday {
  .logo {
    order: 3;
  }

  .xmas_r {
    order: 1;
  }
  .xmas_c {
    order: 2;
  }
  .wedding {
    order: 4;
  }
  .c {
    order: 5;
  }
}

@media (min-width: 60rem) {
  .contactlist {
    display: none !important;
  }
}

/*------------------*/
/* HAMBURGER */
/*------------------*/

.hamburger {
  position: relative;
  transition: var(--moment);

  display: grid;
  place-items: center;

  > * {
    grid-row: 1;
    grid-column: 1;
  }
}

.hamburger:hover {
  cursor: pointer;
}

/*  circle */
.hamburger:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 3rem; /*  starts at 70 4.375rem */
  height: 3rem;
  border: 2px solid transparent;
  /*  top: calc(50% - 1rem); */
  /*  left: calc(50% - 1rem); */
  border-radius: 100%;
  transition: var(--moment);
}

.hamburger.is-active {
  transform: rotate(45deg);
}

/*  the circle */
.hamburger.is-active:before {
  border: 2px solid hsl(var(--honey), 100%, 30%); /*  TODO not a louie color */
  background-color: hsl(var(--honey), 100%, 85%);

  @media (prefers-color-scheme: dark) {
    border-color: hsl(var(--denim), 37%, 37%);
    background-color: hsl(var(--denim), 37%, 7.5%);
  }
}

.hamburger .line {
  width: 2rem;
  height: 0.1875rem; /*  3px this is wierd and custom */
  background-color: hsl(var(--honey), 100%, 30%);
  display: block;
  margin-block: 0.5rem;
  transition: var(--moment);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 37%, 37%);
  }
}

.hamburger.is-active .line {
  width: 1.5rem;
}

.hamburger.is-active .line:nth-child(1) {
  transform: translateY(0.7rem); /*  start at 13px 0.8125rem */
}

/*  middle line this disappears when menu is open */
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-0.7rem) rotate(90deg);
}
