/*------------------*/
//  # Seo Showcase
/*------------------*/

// this is only for showing internally
// colors come from https://clrs.cc/

.seo-showcase {
  .key,
  .green,
  .yellow,
  .red {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
  }

  .key {
    background-color: lightgray;

    @media (prefers-color-scheme: dark) {
      background-color: midnightblue;
    }
  }

  .good {
    background-color: #2ecc40;
  }

  .ok {
    background-color: #ffdc00;
  }

  .bad {
    background-color: #ff4136;
  }

  img {
    max-width: 10rem;
  }
}
