.slider-container {
  margin-block-end: var(--kilimanjaro);
}

.slider {
  margin-inline: auto;
  max-width: var(--stork);
  white-space: nowrap;
  width: calc(100vw - var(--denali));

  > ul {
    overflow-x: hidden;

    > li {
      display: inline-block;
      animation-duration: 20s;
      animation-name: slide;
      animation-iteration-count: infinite;
      width: 100%; /*  the text is skinnier */
    }

    .testimonial--stars {
      list-style: none;
      display: flex;
    }

    /* short text looked bad breaking lines a lot */
    p {
      max-width: var(--vulture);
    }

    /* TODO this needs to control the whole series not just one before I can use it */
    /* so would possibly need to be on the ul instead? */
    /* > li:hover {
      animation-play-state: paused;
    } */
  }
}

/* this is based on 3 testimonials */

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-0%);
  }
}
