.slider-container {
  background-color: var(--honey-7);
  margin-block-end: 1.5rem;

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-1);
  }
}

#slider {
  margin-inline: auto;
  max-width: var(--measure);
  white-space: nowrap;
  width: 90vw; // ? guess and check
  ul {
    // background: peachpuff;
    overflow-x: hidden;

    li {
      width: 100%;
      display: inline-block;
      animation-duration: 30s;
      animation-name: slide;
      animation-iteration-count: infinite;
    }
  }
}

#slider ul li:first-child {
  // background: red;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-0%);
  }
}
