/*------------------*/
/* TYPOGRAPHY */
/*------------------*/

body,
button {
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: var(--elbrus); /* 20px */
}

.font-sans {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}

/*  TODO maybe this https://fonts.adobe.com/fonts/park-lane but it needs to only get the apostrophe */
.font-quote, /* make it this */
.testimonials .testimonial--quote_mark {
  font-family: var(--font-quote);
}

.mixta,
.range,
.site_title,
.areas__page .state__name {
  font-family: var(--font-serif);
  font-weight: 700;
  font-style: normal;
}

/*------------------------------------*\
    #Type Rythym
\*------------------------------------*/

p {
  margin-block-end: 0.625rem; /* 10px */
}

h1,
.everest {
  margin-top: 0; /* browser reset */
  font-size: var(--everest); /* 48px */
  line-height: 3.75rem; /* 60px */
  margin-block-end: var(--aconcagua); /* 40px */
}

h2,
.aconcagua,
.range {
  font-size: var(--aconcagua); /* 40px */
  line-height: var(--everest); /* 48px */
  margin-block-end: var(--denali); /* 32px */
}

h3,
.denali {
  font-size: var(--denali); /* 32px */
  line-height: var(--aconcagua); /* 40px */
  /* TODO: variable */
  margin-block-end: 1.875rem; /* 30px */
}

h4,
.kilimanjaro {
  font-size: var(--kilimanjaro); /* 24px */
  line-height: var(--denali); /* 32px */
  margin-block-end: 1.75rem; /* 28px */
  font-weight: 400;
}

h5,
.elbrus {
  font-size: var(--elbrus); /* 20px */
  line-height: 1.875rem; /* 30px */
  margin-block-end: 0.625rem; /* 10px */
  font-weight: 400;
}

h6,
.vinson {
  font-size: var(--vinson); /* 16px */
  line-height: var(--elbrus); /* 20px this becomes the vertical rythym */
  margin-block-end: 0.625rem; /* 10px skips some of the lines */
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
}

small,
.kosciuszko {
  font-size: var(--kosciuszko); /* 12px */
  line-height: var(--vinson); /* 16px */
  margin-block-end: 0.875rem; /* 14px */
}

.baseline-drop {
  margin-block-end: var(--elbrus);
}

.double-baseline-drop {
  margin-block-end: var(--aconcagua);
}

/* TODO: im going to need a lot more of these */
::selection {
  background-color: hsl(
    var(--honey),
    100%,
    50%
  ); /*  contrast to background : */

  @media (prefers-color-scheme: dark) {
    background-color: var(--denim-400);
  }
}

/*------------------*/
/* HR */
/*------------------*/

hr {
  border: none;
  border-top: 1px solid var(--honey-400);
  margin-block: var(--kilimanjaro); /* 20px */

  @media (prefers-color-scheme: dark) {
    border-color: var(--denim-500);
  }
}

hr.stork {
  padding-inline: 0;
}

.top-bar hr {
  margin-block-end: 0;
}

.hr-grey {
  border-top-color: grey;
}

.hr-tin-soldier {
  border-top-color: var(--tin-soldier);
  /*  TODO: dark */
}

/*------------------*/
/* CLAMPS */
/*------------------*/

.clamp-denali_everest {
  font-size: clamp(var(--aconcagua), 1.5vw, var(--everest));
  line-height: clamp(var(--aconcagua), 1.5vw, 3.75rem);
  margin-block-end: clamp(1.875rem, 1.5vw, var(--aconcagua));
}

/*------------------*/
/* TOP BAR */
/*------------------*/

.top-bar {
  text-align: center;

  h2 {
    font-size: var(--vinson); /*  ? should this be clamped */
    line-height: var(
      --kilimanjaro
    ); /*  slightly bigger than font-size var(--vinson) */
    margin-block: 0;
    padding-block: var(--vinson);
    margin-inline: var(--everest);
    font-weight: 400;
  }
}

/*------------------------------------*/
/* EYEBROW */
/*------------------------------------*/

.crest,
.services h3,
.services h4 {
  font-weight: 100;

  font-size: var(--kilimanjaro);
  line-height: var(--denali);
  margin-block-end: 1.75rem;

  margin-block-end: 0.5lh;
  @supports not (margin: var(--elbrus)) {
    margin-block-end: 0.625rem;
  }
}

/*------------------------------------*/
/* HOME */
/*------------------------------------*/

/*  TODO: should be in lists */
ol li {
  margin-block-end: var(--kilimanjaro);
}

.ol-title {
  display: block;
  font-size: var(--kilimanjaro);
  margin-block-end: var(--kilimanjaro);
}

/*------------------*/
/* FOOTER */
/*------------------*/

.footer-copyright h5 {
  margin-inline: var(--everest);
}

/*------------------*/
/* REMS */
/*------------------*/

/*
0.25rem = 4px
0.375rem = 6px
0.5rem = 8px
0.625rem = 10px
var(--kosciuszko) = 12px
var(--vinson) = 16px
var(--kilimanjaro) = 24px
*/

.testimonials {
  h4 {
    margin-block-end: var(--line-height);
  }

  h4 span {
    font-size: var(--vinson);
    font-family: var(--font-sans);
    font-weight: 400;
  }

  p {
    white-space: normal; /*  reset */
    margin-block-end: 0; /* let the grid do the work */
  }
}

.area-list li {
  line-height: 1.75rem;
}

.site_title {
  max-width: var(--stork);
  margin-inline: auto;
  padding-inline: var(--vinson);
  font-size: clamp(var(--elbrus), 2.5vw, var(--denali));
  line-height: clamp(var(--denali), 2.5vw, var(--everest));
  margin-block-start: var(--kilimanjaro);
}

.long-title {
  white-space: break-spaces;
}

.qualities {
  .brow {
    display: flex;
    flex-direction: column-reverse;

    .supra {
      font-family: var(--font-serif);
      font-style: normal;
      font-weight: 700;
      font-size: var(--aconcagua);
      line-height: var(--everest);
      margin-block-end: 0.5lh;
    }

    .eyebrow {
      font-size: var(--kilimanjaro);
      line-height: var(--denali);
      font-weight: 100;
      margin-block-end: 0.25lh;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.last-ampersand:nth-child(n + 2):last-child::before {
  content: " & ";
}

.lowercase {
  text-transform: lowercase;
}

/*------------------------------------*/

.attribute.range {
  font-family: var(--font-sans);
  font-size: var(--denali);
}

/*------------------------------------*/

.react-markdown {
  white-space: pre-wrap; /* * this does some weird stuff with hidden margins */

  h2 {
    font-size: var(--denali);
    margin-block-end: var(--elbrus);
  }

  h3 {
    font-size: var(--kilimanjaro);
    margin-block-end: var(--vinson);
  }
}
