/*------------------------------------*/
//  #VARIABLES
/*------------------------------------*/

:root {
  --honey: 35;

  // just working on this idea

  --honey-7: hsl(var(--honey), 100%, 87%); // lightest
  --honey-6: hsl(var(--honey), 100%, 75%);
  --honey-5: hsl(var(--honey), 100%, 62%);
  --honey-4: hsl(var(--honey), 100%, 50%);
  --honey-3: hsl(var(--honey), 100%, 37%);
  --honey-2: hsl(var(--honey), 100%, 25%);
  --honey-1: hsl(var(--honey), 100%, 12%); // darkest

  --honey-4-a: hsl(var(--honey), 87%, 50%); // it just feels too neon
  // ? maybe this should be the default?

  --denim: 215;

  --denim-7: hsl(var(--denim), 100%, 87%); // lightest
  --denim-6: hsl(var(--denim), 100%, 75%);
  --denim-5: hsl(var(--denim), 100%, 62%);
  --denim-4: hsl(var(--denim), 100%, 50%);
  --denim-3: hsl(var(--denim), 100%, 37%);
  --denim-2: hsl(var(--denim), 87%, 25%);
  --denim-1: hsl(var(--denim), 100%, 12%); // darkest

  --measure: 40rem;
  --page_width: 80rem; // ? I need some math on this

  // shadows
  // based on the layers of the atomposhere
  // https://en.wikipedia.org/wiki/Atmosphere_of_Earth
  --mesosphere: 0 5px 12px hsla(0, 0%, 0%, 0.4),
    0 18px 32px hsla(0, 0%, 0%, 0.16);
  --stratosphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
  --troposphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
}

// media queries cant use variables
$pad: 30rem;
$book: 60rem;
