/*------------------------------------*/
//  #VARIABLES
/*------------------------------------*/

:root {
  --honey-h: 35;
  --honey-l: 94%;

  --honey: hsl(var(--honey-h), 100%, var(--honey-l));
  --honey-8: hsl(var(--honey-h), 100%, 94%);
  --honey-1: hsl(var(--honey-h), 100%, 50%);

  // --denim: 215%;
  --denim: hsl(215, 100%, 6%);

  --measure: 40rem;
  --page_width: 80rem; // ? I need some math on this

  // shadows
  // based on the layers of the atomposhere
  // https://en.wikipedia.org/wiki/Atmosphere_of_Earth
  --mesosphere: 0 5px 12px hsla(0, 0%, 0%, 0.4),
    0 18px 32px hsla(0, 0%, 0%, 0.16);
  --stratosphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
  --troposphere: 0 2px 3px hsla(0, 0%, 0%, 0.12),
    0 3px 6px hsla(0, 0%, 0%, 0.14);
}

// media queries cant use variables
$pad: 30rem;
$book: 60rem;
