/*------------------*/
/*  Visibility */
/*------------------*/

/*  small */
.small {
  /*  display: none; */

  @media (min-width: 60rem) {
    display: none;
  }
}

/*  large */
.large,
.inherit {
  display: none;
  @media (min-width: 60rem) {
    display: initial;
  }
}

/* testing this out in the footer im not sure if its more useful */
.inherit {
  display: inherit;
}

/*------------------*/
/* SPECIFICS */
/*------------------*/

.home__area-acordian .state__name {
  display: none;
}

.logo.false {
  display: none;
}

@media (min-width: 60rem) {
  .hamburger {
    display: none;
  }
}
