/*------------------*/
//  # Visibility
/*------------------*/

// small
.small {
  // display: none;

  @media (min-width: $book) {
    display: none;
  }
}

// large
.large {
  display: none;
  @media (min-width: $book) {
    display: initial;
  }
}

/*------------------*/
//  #SPECIFICS
/*------------------*/

.home__area-acordian .state__name {
  display: none;
}
