/*------------------------------------*/
/* #BODY */
/*------------------------------------*/

.box {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

.light__test {
  background: hsl(35, 100%, 99%);
}

.light__link {
  color: hsl(35, 100%, 30%);
}

.dark__link {
  color: hsl(var(--honey), 100%, 37%);
}

.selection__test {
  background: hsl(var(--honey), var(--louie-h), var(--louie-d));
}

.hover__test {
  color: hsl(var(--honey), 100%, 50%);
  text-decoration: underline;
}
