/*------------------------------------*/
/* #STORYBOOK BUTTONS */
/*------------------------------------*/

.button--hover {
  color: var(--honey-700);
  box-shadow: var(--stratosphere);
  background-color: var(--honey-300);
  border-color: var(--honey-400);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--denim), 25%, 37%);
    border-color: hsl(var(--denim), 12%, 50%);
    color: hsl(var(--denim), 25%, 97.5%);
  }
}
