.colorblock__section {
  max-width: var(--pelican);
}

.colorblock__row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.colorblock {
  aspect-ratio: 1;
  width: 10rem;
  border-radius: var(--border-radius);
  box-shadow: var(--troposphere);
  /* background: wheat; */
}

/*------------------------------------*/
/* #COLORCARDS */
/*------------------------------------*/

.color-deck {
  display: flex;
  flex-flow: row wrap;
  gap: var(--kilimanjaro);
  margin-block-end: var(--everest)
}

.color-card {
  width: 10rem;
  height: 10rem;
}

.color {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}